In [1]:
import pandas as pd
from openpyxl.workbook import Workbook

In [64]:
file_loc='Rawsheet.xlsx'
df = pd.read_excel(file_loc)[['FullName','MobileNumber','City','DealerName', 'Could you tell me the reasons for score?','Unnamed: 14','Unnamed: 15','Unnamed: 16','To understand better we have a scale of 0 to 10, 0 means you will definitely not recommend and 10 means you will definitely recommend. How likely are you to recommend TVS iQube on a scale of 0 to 10?. ']]

df=df.loc[(df['FullName']=='Chander Shaker Pandey')]
df['Customer Voice'] =df[['Could you tell me the reasons for score?','Unnamed: 14','Unnamed: 15','Unnamed: 16']].agg(','.join,axis=1)
#df=(df.set_index(['FullName']).apply(lambda x: x.str.split(',').explode()).reset_index())
df

,FullName,MobileNumber,City,DealerName,Could you tell me the reasons for score?,Unnamed: 14,Unnamed: 15,Unnamed: 16,"To understand better we have a scale of 0 to 10, 0 means you will definitely not recommend and 10 means you will definitely recommend. How likely are you to recommend TVS iQube on a scale of 0 to 10?.",Customer Voice
0,Chander Shaker Pandey,9314517261,Jaipur,TVS-K.S.Motors Pvt. Ltd.,"The customer is happy with vehicle performance ,",getting accurate range,pick up also good,all the feature mode button is working fine,10,The customer is happy with vehicle performance...